html {
  scroll-behavior: smooth;
}

.full-height {
  height: 100vh;
}

.clickable-content a {
  color: rgba(100, 100, 100, 1);
  text-decoration: none;
}

.clickable-content a:hover {
  text-decoration: underline;
}

.overview-color-neutral {
  color: rgba(100, 100, 100, 1);
}

.sticky-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  
  
}

/* Responsive adjustments for small screens */
@media (max-width: 767px) {
	
html {
  scroll-padding-top: 70px;
}
  #nav-column {
    position: sticky;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
  }

  #nav-column ul {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  #nav-column li {
  margin: 5px 10px; /* Adjust for proper spacing */
}

  #nav-column h5 {
    display: block;
  }
  
  
}
